@media all{
	.dashboardLayoutContainer *{font-family: 'Source Sans Pro', sans-serif; -webkit-box-sizing:border-box; box-sizing:border-box;}
	.dashboardLayoutContainer { max-width: 900px; margin: 0 auto; font-size: 14px; }
	.dashboardLayout{display: table; width: 100%; table-layout: fixed; }
	.dashboardLayoutCol{display:table-cell; vertical-align:top;}
	.dashboardLayoutCol.householdCol { width: 265px; }
	.household {border: 1px solid #c9d1e0; color: #3e77d0; background: #fff; border-radius: 5px; border-radius: 5px; }
	.householdPic-wrap { text-align:center; padding: 10px; }
	.household img.householdPic { /*width: 100%;*/ float: none; }
	.household img.avatar { /*width: 100%;*/ float: none; width: auto !important; height:auto !important; }
	.householdName { position: relative; padding: 15px 100px 15px 15px; }
	.householdNameTxt { white-space: nowrap; max-width: 150px; overflow: hidden; text-overflow: ellipsis; }
	.amtDue { position: absolute; right: 15px; top: 13px; font-size: 16px; font-weight: 600; color: #FF9800; }
	ul.householdNameInfo { margin: 0; padding: 0 0 15px 0; }
	ul.householdNameInfo > li { display: block; margin: 0; position: relative; padding: 12px 10px 11px 48px; }
	ul.householdNameInfo > li img.infoIcon { max-width: 21px; position: absolute; left: 15px; }
	ul.householdNameInfo > li p {margin: 0;}
	ul.householdNameInfo > li .emailLink{display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
	.dashboardLayout .vCol { display: inline-block; vertical-align: top; width: 46%; margin-left: 4%; margin-right: -4px; }
	.cardStyle { background: #fff; border: 1px solid #c9d1e0; margin-bottom: 15px; min-height: 248px; border-radius: 5px;}
	.cardTitle { border-bottom: 1px solid #c9d1e0; padding: 10px 15px; position: relative; background: #fff; border-radius: 5px 5px 0 0; }
	.cardTitle.hasLink { padding: 10px 80px 10px 15px; }
	.cardTitle a.cardTitleLink { position: absolute; right: 15px; top: 9px; text-decoration: none; color: #3e77d0; }
	.cardBody { padding: 15px; }
	.eventList { margin: -15px 0 0 0; }
	.eventList .eventItem { border-bottom: 1px solid #c9d1e0; padding: 13px 70px 13px 0px; position: relative; }
	.eventList .eventItem:last-child { border-bottom: 0 none; }
	.eventList .eventItem .eventName { font-size: 16px; font-weight: 600; }
	.eventList .eventItem .eventDate { font-size: 11px; color: #98989e; }
	a.btnStyle { display: inline-block; padding: 3px 15px; text-decoration: none; border-radius: 4px; font-weight: 600; font-size: 14px; }
	a.btnStyle.btnBlue { background: #2196F3; color: #ffff; }
	.eventList .viewBtn{position: absolute; right: 0px; top: 18px;}
	.donations { text-align: center; }
	.donationAmt { font-size: 40px; font-weight: 600; color: #ff9801; position: relative; line-height: 40px; }
	.donationAmt a.viewLinkSm { position: absolute; right: 0; font-size: 12px; top: 15px; font-weight: 400; text-decoration: none; color: #3e77d9; line-height: 12px; }
	.donationYr { font-size: 12px; padding-top: 3px; color: #97979e; }
	.donationYr b { font-weight: 600; }
	.divider { border-bottom: 1px solid #c9d1e0; margin: 17px 0 10px; }
}
@media screen and (max-width:1024px){
	.dashboardLayout { display: block; }
	.dashboardLayoutCol{display:block;}
	.dashboardLayoutCol.householdCol { width: 100%; padding: 0 13px 8px 13px; display: block; }
	.household { padding-left: 240px; position: relative;  min-height: 229px;}
	.household img.householdPic { width: 227px; position: absolute; left: 0; border-radius: 5px 0 0 5px; }
	ul.householdNameInfo > li {padding: 9px 10px 9px 48px;}
	.dashboardLayout .vCol { display: block; vertical-align: top; margin-left: 0; margin-right: 0; text-align: center; width: 100%; }
	.dashboardLayout .vCol .cardStyle { width: 47%; display: inline-block; margin-left: 0; margin: 8px 1%; vertical-align: top; text-align: left; min-height: 270px;}
}
@media screen and (max-width:650px){
	.household img.householdPic { width: 90px; position: static; display: block; margin: 15px auto 0; border-radius: 100%; }
	.household { padding-left: 0; margin-bottom: 15px;}
	.dashboardLayoutCol.householdCol { padding: 0;}
	.dashboardLayout .vCol { display: block; vertical-align: top; margin-left: 0; margin-right: 0; }
	.dashboardLayout .vCol .cardStyle { width: 100%; display: block; margin: 0 0 15px 0; min-height: inherit; }
	
}