
/* Added by DW */
.page-template-CampaignLandingPage.col-2cl .main, 
.col-2cl .main.full-width {
	padding-right: 0 !important;
}
.gridDiv { display: flex; width: 100%; }
.colDiv { width: 50%; }
.campaign-btn {margin-top: 20px;}
.btnYellow { border-radius: 4px; background: #ceac41; color: #fff; padding: 10px 20px; font-weight: 600; }
